In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
es_csv = pd.read_csv('./results/es_1.csv')

In [3]:
es_csv.head()

,run,type,module,name,attrname,attrvalue,value
0,General-1-20221027-10:37:26-16912,runattr,NaN,NaN,configname,General,NaN
1,General-1-20221027-10:37:26-16912,runattr,NaN,NaN,datetime,20221027-10:37:26,NaN
2,General-1-20221027-10:37:26-16912,runattr,NaN,NaN,datetimef,20221027-103726,NaN
3,General-1-20221027-10:37:26-16912,runattr,NaN,NaN,experiment,General,NaN
4,General-1-20221027-10:37:26-16912,runattr,NaN,NaN,inifile,simu_1.ini,NaN

In [4]:
es_csv.iloc[1200:1205]

,run,type,module,name,attrname,attrvalue,value
1200,General-1-20221027-10:37:26-16912,param,Rete.Arrivi,stopTime,NaN,NaN,-1s
1201,General-1-20221027-10:37:26-16912,attr,Rete.Arrivi,stopTime,unit,s,NaN
1202,General-1-20221027-10:37:26-16912,param,Rete.Servente,typename,NaN,NaN,"""org.omnetpp.queueing.Queue"""
1203,General-1-20221027-10:37:26-16912,param,Rete.Servente,capacity,NaN,NaN,-1
1204,General-1-20221027-10:37:26-16912,param,Rete.Servente,fifo,NaN,NaN,true

In [5]:
pd.set_option('display.width', 180)
pd.set_option('display.max_colwidth', 100)

In [6]:
es_csv.run.head()

0    General-1-20221027-10:37:26-16912
1    General-1-20221027-10:37:26-16912
2    General-1-20221027-10:37:26-16912
3    General-1-20221027-10:37:26-16912
4    General-1-20221027-10:37:26-16912
Name: run, dtype: object

In [7]:
tmp = es_csv[['run', 'attrname', 'attrvalue']]
tmp.head()

                                 run    attrname          attrvalue
0  General-1-20221027-10:37:26-16912  configname            General
1  General-1-20221027-10:37:26-16912    datetime  20221027-10:37:26
2  General-1-20221027-10:37:26-16912   datetimef    20221027-103726
3  General-1-20221027-10:37:26-16912  experiment            General
4  General-1-20221027-10:37:26-16912     inifile         simu_1.ini

In [8]:
es_csv.module.describe()

count           1130
unique             4
top       Rete.Pozzo
freq             660
Name: module, dtype: object

In [9]:
es_csv.module.unique()

array([nan, 'Rete.Pozzo', 'Rete.Arrivi', 'Rete.Servente', 'Rete'],
      dtype=object)

In [10]:
es_csv.value.describe()

count     360
unique    131
top         0
freq       90
Name: value, dtype: object

In [11]:
es_csv.describe()

                                      run  type      module               name attrname attrvalue value
count                                1360  1360        1130               1130     1000       960   360
unique                                 10     5           4                 33       26        62   131
top     General-1-20221027-10:37:26-16912  attr  Rete.Pozzo  queueingTime:mean    title      none     0
freq                                  136   770         660                 50      210       180    90

In [12]:
es_csv.dtypes

run          object
type         object
module       object
name         object
attrname     object
attrvalue    object
value        object
dtype: object

In [18]:
tmp = es_csv[(es_csv.type=='scalar') & (es_csv.module=='es_csv.Rete.Pozzo') & (es_csv.name=='channelUtilization:last')]
tmp.head()

Empty DataFrame
Columns: [run, type, module, name, attrname, attrvalue, value]
Index: []

In [14]:
es_csv['qname'] = es_csv.module + "." + es_csv.name
es_csv[es_csv.type=='scalar'].head()  # print excerpt

                                   run    type      module                name attrname attrvalue             value                          qname
230  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo     generation:mean      NaN       NaN                 0     Rete.Pozzo.generation:mean
234  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo      generation:max      NaN       NaN                 0      Rete.Pozzo.generation:max
238  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo  delaysVisited:mean      NaN       NaN                 0  Rete.Pozzo.delaysVisited:mean
242  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo   delaysVisited:max      NaN       NaN                 0   Rete.Pozzo.delaysVisited:max
246  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo  queuesVisited:mean      NaN       NaN  0.44676409185804  Rete.Pozzo.queuesVisited:mean

In [15]:
es_csv = es_csv.assign(qname = es_csv.module + "." + es_csv.name)
es_csv[es_csv.type=='scalar'].head()

                                   run    type      module                name attrname attrvalue             value                          qname
230  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo     generation:mean      NaN       NaN                 0     Rete.Pozzo.generation:mean
234  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo      generation:max      NaN       NaN                 0      Rete.Pozzo.generation:max
238  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo  delaysVisited:mean      NaN       NaN                 0  Rete.Pozzo.delaysVisited:mean
242  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo   delaysVisited:max      NaN       NaN                 0   Rete.Pozzo.delaysVisited:max
246  General-0-20221027-10:37:26-16912  scalar  Rete.Pozzo  queuesVisited:mean      NaN       NaN  0.44676409185804  Rete.Pozzo.queuesVisited:mean

In [16]:
del es_csv['qname']

In [17]:
type( es_csv[es_csv.type=='scalar'].iloc[0].value )

str